In [25]:
import csv
import numpy as np
import pandas as pd

infile = 'eur.pop.rev.csv'

In [69]:
data = pd.read_csv(infile, skiprows = [0,1,2])

In [70]:
data = data.fillna(0)
data.columns = ['Country','1989','1990','1991','1992','1993','1994','1995']
print(data)

                                 Country         1989         1990  \
0                                Belgium    9927600.0    9947800.0
1                                Denmark    5129800.0    5135400.0
2                                Finland    4954359.0    4974383.0
3                                 France   56269800.0          0.0
4                                Germany   61715000.0   62678000.0
5                                Iceland     253500.0     255708.0
6                                Ireland    3526600.0    3505500.0
7                                  Italy   57504700.0   57576400.0
8                              Luxemburg     374900.0     379300.0
9                             Netherland   14805240.0   14892574.0
10                                Norway    4226901.0    4241473.0
11                              Portugal   10304700.0          0.0
12                                 Spain   38851900.0   38924500.0
13                                Sweden    8458890.0    8527040.0
14                           Switzerland    6619973.0    6673850.0
15                        United Kingdom   57236200.0   57410600.0
16                                     0          0.0          0.0
17                          Total Europe  325665440.0  326962674.0
18                                     0          0.0          0.0
19  Sources: Eurostat, national agencies          0.0          0.0

           1991         1992         1993         1994         1995
0     9987000.0   10068319.0   10100631.0   10130574.0   10143047.0
1     5146500.0    5162100.0    5180614.0    5191000.0    5251027.0
2     4998478.0    5029300.0    5054982.0    5098754.0    5116800.0
3    56893000.0   57217500.0   57529577.0   57847000.0   58265400.0
4    79753000.0   80238000.0   81338000.0   81353000.0   81845000.0
5      259577.0     262193.0     264922.0     266783.0     267806.0
6     3519000.0    3542000.0    3559985.0    3570700.0    3591200.0
7    57746200.0   57788200.0   57114161.0   57201800.0   57268578.0
8      384400.0     389800.0     395200.0     400000.0     412800.0
9    15010445.0   15129200.0   15354000.0   15341553.0   15492800.0
10    4261930.0    4273634.0    4324577.0    4348410.0    4370000.0
11    9858500.0    9846000.0    9987500.0    9776000.0    9920800.0
12   38993800.0   39055900.0   39790955.0   39177400.0   39241900.0
13    8590630.0    8644100.0    8700000.0    8749000.0    8837000.0
14    6750693.0    6831900.0    6871500.0    7021200.0    7060400.0
15   57649200.0   58888800.0   58191230.0   58380000.0   58684000.0
16          0.0          0.0          0.0          0.0          0.0
17  345061045.0  347604719.0  348887853.0  348540020.0  372599752.0
18          0.0          0.0          0.0          0.0          0.0
19          0.0          0.0          0.0          0.0          0.0

In [71]:
data = data.fillna(0)
whole_population = data
print('\nMissing Data has been filled with 0')

Missing Data has been filled with 0

In [72]:
print("\nCountries with 1000000 people in 1995 are: ");
for d in range(len(data)):
    if (data.loc[d,"1995"]) > 1000000:
         print(data.loc[d,"Country"])

Countries with 1000000 people in 1995 are:
Belgium
Denmark
Finland
France
Germany
Ireland
Italy
Netherland
Norway
Portugal
Spain
Sweden
Switzerland
United Kingdom
Total Europe

In [85]:
data['Mean'] = data.mean(axis=1)
ave_value = data.loc['United Kingdom']['Mean']
print("\nThe average population in the UK over those seven years : "+str(ave_value))

The average population in the UK over those seven years : 58062861.428571425